*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --col-1: #21261f;
    --col-2: #3c9157;
    --col-3: #ffffff;
    --col-4: #ccc;
}

html{
    background-color: var(--col-1);
    color: var(--col-2);
    font-family: Reddit mono;
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--col-1);
    font-family: Reddit Mono;
    z-index: 1;
}

#navbar{
    max-width: 80%;
    display: flex;
    flex-flow: column wrap;
}

nav > a{
    color: var(--col-2);
    text-decoration: none;
    padding: 1px 0; 
    font-weight: 800;
}

nav > a:hover{
    color: var(--col-3);
}

section{
    padding-top: 120px; 
}

h1,h2,h3,h5,h6{
    color: var(--col-3);
    font-family: Lora;
}

#Welcome-section{
    height: 100vh;
}

.info, .aboutme{
    margin: 0;
    padding: 10px;
    text-align: center;
}

.profile{
    border-radius: 50%;
    width: 1em;
    width: 200px;
    display: block;
    margin: 20px auto 10px ;
}

.button{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.button button{
    width: 40%;
    margin: 5%;
    font-size: 15px;
    padding: 10px 0;
    border-radius: 2rem;
    border: 1px solid var(--col-2);
}

.button a{
    text-decoration: none;
}

.button .one{
    color: var(--col-2);
    background-color: var(--col-1);
}

.button .two{
    color: var(--col-3);
    background-color: var(--col-2);
}

.button a{
    color: inherit;
}

.button .one:hover{
    color: var(--col-3);
    background-color: var(--col-2);
}

.button .two:hover{
    color: var(--col-2);
    background-color: var(--col-1);
}

.heading{
    text-align: center;
    padding: 10px;
    font-family: Lora;
}

.aboutme{
    display: flex;
    flex-flow: column wrap;
}

.second{
    filter: grayscale(10);
    display: block;
    margin: 10px auto;
    border-radius: 1rem;
    width: 30%;
    aspect-ratio: 1/1;
    max-width: 200px;
}

.aboutme-details{
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin: 35px auto ;
}


.decoration{
    border: 1px solid var(--col-3);
    width: 45%;
    border-radius: 1rem;
}

.decoration > .fa-solid{
    color: var(--col-3);
}

.caption{
    color: var(--col-3);
    text-transform: uppercase;
    padding: 10px 0;
}

.skills{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    text-align: center;
}

ul{
    list-style: none;
    padding: 10px 0;
    border: 1px solid var(--col-3);
    width: 90%;
    margin: 10PX auto;
    border-radius: 1rem;
    aspect-ratio: 3/2;
}

.projects{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.preview{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border: 1px solid var(--col-2);
    padding: 20px 0 20px;
    border-radius: 1rem;
}

.preview img{
    width: 90%;
    max-width: 350px;
    padding: 10px 0 0;
    aspect-ratio: 3/2;
    border-radius: 1em;
}

.preview a{
    text-decoration: none;
    color: var(--col-2);
}

.preview a:hover{
    color: var(--col-3);
}

.contact{
    display: block;
    background-color: var(--col-4);
    width: 90%;
    margin: auto;
    padding: 20px;
    font-size: 25px;
    max-width: 900px;
    border-radius: 1rem;
}

.contact a{
    color: var(--col-1);
    text-decoration: none;
}

.github a:hover{
    color:  #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.WhatsApp a:hover{
    color: #25d366;
    font-family: Helvetica, sans-serif;
}

.Mail a:hover{
    color: #ff3c41;
    font-family: sans-serif;
}

.Linkdin a:hover{
    color: #0077b5;
    font-family: "Reddit Mono", monospace;
}

.Codepen a:hover{
    color: #000;
    font-family: monospace;
}

footer {
    text-align: center;
    margin: 10px 0 20px;
}

@media only screen and (min-width: 600px){
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: 100;
        width: 50%;
    }
    #Welcome-section{
    display: flex;
    justify-content: space-evenly;
    }

    .components{
        padding: 150px 0 10px;
    }
    
    .profile{
        width: 300px;
        margin: auto 0;
    }

    .second{
        margin: 50px 0 0;
        height: 200px;
    }

    .aboutme{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .aboutme-info{
        max-width: 500px;
    }

    

}