*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --col-1: #21261f;
    --col-2: #3c9157;
    --col-3: #ffffff;
}

html{
    background-color: var(--col-1);
    color: var(--col-2);
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--col-1);
}

#navbar{
    display: flex;
    flex-flow: column wrap;
}

nav > a{
    color: var(--col-2);
    text-decoration: none;
    padding: 1px 0; 
    font-weight: 800;
}

nav > a:hover{
    color: var(--col-3);
}

section{
    padding-top: 120px; 
}

h1,h2,h3,h4,h5,h6{
    color: var(--col-3);
}

#Welcome-section{
    height: 100vh;
}

.info{
    text-align: center;
}

.profile{
    max-width: 250px;
    width: 45%;
    border-radius: 50%;
    display: block;
    margin: 100px auto 10px ;
}

.button{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.button button{
    width: 40%;
    margin: 5%;
    font-size: 15px;
    padding: 10px 0;
    border-radius: 2rem;
    border: 1px solid var(--col-2);
}

.button a{
    text-decoration: none;
}

.button .one{
    color: var(--col-2);
    background-color: var(--col-1);
}

.button .two{
    color: var(--col-3);
    background-color: var(--col-2);
}

.button a{
    color: inherit;
}

.button .one:hover{
    color: var(--col-3);
    background-color: var(--col-2);
}

.button .two:hover{
    color: var(--col-2);
    background-color: var(--col-1);
}

.heading{
    text-align: center;
    padding: 10px;
}

.info{
    margin: 0;
    padding: 10px;
}

.second{
    filter: grayscale(10);
    display: block;
    margin: 10px auto;
    border-radius: 1rem;
    width: 30%;
    aspect-ratio: 0.95;
    max-width: 200px;
}

.details{
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin: 35px auto ;
}


.decoration{
    border: 1px solid var(--col-3);
    width: 45%;
    border-radius: 1rem;
}

.decoration > .fa-solid{
    color: var(--col-3);
}

.caption{
    color: var(--col-3);
    text-transform: uppercase;
    padding: 10px 0;
}

.Skills{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    text-align: center;
}

ul{
    list-style: none;
    padding: 10px 0;
    border: 1px solid var(--col-3);
    width: 90%;
    margin: 10PX auto;
    border-radius: 1rem;
}